.registration-form {
  width: 50vw;
  height: calc(100vh - 200px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.form-sub {
  max-width: 360px;
}

.registration-mess {
  text-align: center;
}