.err {
  color: red;
}
.soccess {
  color: green;
}
.error {
  font-size: 20px;
  position: absolute;
  height: 30px;
  text-align: center;
  background-color: red;
  line-height: 30px;
  color: aliceblue;
  width: 400px;
  top: calc(50% - 50px);
  left: calc(50% - 200px);
}
