.auth-page {
  background: url("/public/img/foot.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.8;
  min-height: calc(100vh - 160px);
  z-index: -1;
}
.bandle {
  position: relative;
}

@media (max-width: 1026px) {
  .auth-page {
    width: 600px;
  }
}
